$white: #fff;
$gray: #F7F7F7;
$black: #000;
$black-light: #131313;
$black-lighter: #232323;
$yellow: #ffdb44;
$brow: #9E7449;
$brow-light: #E0BB8D;

// $base-font-family: 'Barlow Condensed', sans-serif;
// $base-font-family: 'Dosis', sans-serif;
$base-font-family: 'Poppins', sans-serif;
