@import '../../../style-config/variable.scss';
@import '../../../style-config/mixins.scss';

.section {
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: center;
    @include laptop-screen {
        padding: 80px 0;
    }
    &.gray {
        background-color: $gray;
        color: $white;
    }
    &.light {
        background-color: $white;
        color: $black;
    }
    .content {
        width: 100%;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include laptop-screen {
            width: 1226px;
        }
        .section-title {
            width: 100%;
            text-align: center;
            max-width: 600px;
        }
    }
}