@import '../../style-config/variable.scss';
@import '../../style-config/mixins.scss';

.pain-content {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;

  .text {
    text-align: center;
  }

  li {
    list-style-type: none;
  }
}